.App {
  text-align: center;
}

.postCard .postComment {
  position: relative;
  color: red;
}


.postCard {
  border-color: blue;
  border-width: 1.5px;
  border-style: dotted;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  height: 60%;
  width: 50%;

}

div.userListCard {
  border-color: black;
  border-width: 1px;
  border-style: dotted;
  height: 10%;
  width: 30%;
}




.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
