.App {
  text-align: center;
}
span.ql-font-serif {
  font-family: serif;
}

.ql-editor {
  font-family: monospace;
}

span.ql-font-monospace {
  font-family: monospace;
}


.profileCard {
  float:right;
  position:relative;
  width: 215;
  border: 3px solid steelblue;
  padding: 10px;
}

.mainContainer {
  position:static;
  margin-right:10%;
  width: 80%;
  border: 3px solid gainsboro;
  padding: 20px;
}



.postCard .postComment {
  position: relative;
  color: red;
}

.entryCard .username {
  position: relative;
  color: red;
  font-size: 10px;
  float: right;
  padding-right:50px;
}

.entryCard .date {
  position: relative;
  color: green;
  font-size: 10px;
  float: right;
  padding-right:80px;
}

.entryCard .avatar {
  position: static;
  float: right;
  padding-right:10px;
  width:64px;
  height: 64px;
}

.profileCard .avatar {
  position: static;
  float: right;
  padding-right:10px;
  width:64px;
  height: 64px;
}




.postCard, .entryCard {
  border-color: blue;
  border-width: 1.5px;
  border-style: dotted;
  /* padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;*/
  padding-left: 80px;
  height: 60%;
  width: 50%;
  overflow: auto;


}

#editor-container {
  height: 375px;
}




div.userListCard {
  border-color: black;
  border-width: 1px;
  border-style: dotted;
  height: 10%;
  width: 30%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
